* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none !important;
    color: white !important;
}

body {
    background-color: #0C051E;
}

.authorization {
    color: #ffffff;
    font-weight: 600
}

.authorization form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.authorization p {
    background: linear-gradient(90deg, #F48A6E 0%, #EA5369 50.05%, #F234F5 90.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    font-weight: 800;
}

.authorization1 label {
    align-items: left;
}

.modal-content {
    background: #0C051E;
}

.modal {
    --bs-modal-width: 900px;
}

.form-text {
    color: white;
    background: #0C051E;
    border: none;
    border-bottom: 1px solid var(--gradient, #F48A6E);
    width: 50%;
}

.button-form {
    padding: 5px 57px 5px 57px;
    border-radius: 27px;
    border: 2px solid var(--gradient, #F48A6E);
    color: #ffffff;
    background: #0C051E;
}

nav {
    font-weight: 800;
}

.navbar-brand {
    flex-grow: 1;
}

.collapse {
    flex-grow: 1;
}

.icon-excel {
    background-image: url('/img/search.svg');
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
}

.icon-excel1 {
    background-image: url('/img/user.svg');
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
}

footer {
    margin-top: 30px;
    background-color: #000;
    padding: 20px 60px;
    font-weight: 800;
}

.footer-ul {
    align-items: center;
    display: flex;
    gap: 20px;
}

/* Стили страницы автора */
.section_author {
    background-image: url('/img/man-light-dark-concert-singer-darkness-61422-pxhere 1.svg');
    width: 100%;
    height: 390px;
}

.cont-1 {
    display: flex;
    height: 390px;
    align-items: flex-end;
}

.name_author {
    width: 266px;
    height: 250px;
    background-color: #0C051E;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

.name_author img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.name_author p {
    margin: 0 auto;
    font-size: 15px;
}

section {
    background-color: #0C051E;
}

.releases {
    padding-top: 40px;
    padding-bottom: 40px;
}

.releases h2 {
    color: #ffffff;
}

.releases hr {
    color: #ffffff;
    background-color: #ffffff;
    height: 3px;
    opacity: 1;
}

.releases_track {
    height: 100%;
}

.track {
    width: 100%;
    height: 85px;
    background-color: #000;
    border-radius: 20px;
    border: 4px solid #F48A6E;
    color: #ffffff;
    gap: 500px;
    transition: background-color 0.2s ease-in-out;
}

.track:hover {
    /* background-color: linear-gradient(90deg, #F48A6E 0%, #EA5369 50%, #F234F5 100%); */
    border: 4px solid #F48A6E;
    background-color: #ea5369;

}

.text_track {
    margin-left: 20px;
}

.text_track img {
    width: 58px;
    height: 58px;
}

.button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 38px;
    margin-left: 19px;
    margin-top: 15px;

    border-color: transparent transparent transparent #ffffff;
    transition: 100ms all ease;
    cursor: pointer;


    border-style: solid;
    border-width: 18px 0 20px 30px;

    &.paused {
        border-style: double;
        border-width: 0px 0 0px 30px;
    }

    &:hover {
        border-color: transparent transparent transparent #404040;
    }
}

.button_border {
    width: 70px;
    height: 70px;

    border-radius: 100%;
    border: 2px solid #ffffff
}

.button_points {
    background-color: none;
    color: #ffffff;
    border: none;
    outline: none;
    /* Для синий ободки */
    border: 0;
    background: transparent;

}

.author-album {
    width: 400px;
    height: 400px;
    padding: 4px;
    position: relative;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.author-album:hover {
    background: linear-gradient(90deg, #f48a6e 0%, #ea5369 50%, #f234f5 100%);

    transform: scale(105%);
}

.author-album img {
    width: 100%;
    height: 100%;
}

.author-album-text-block {
    position: absolute;
    width: calc(100% - 8px);
    height: 20%;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    margin-bottom: 4px;
}

.author-album-text-block p {
    color: white;
    text-align: center;
    margin: 12px 0 5px 0;
    font-size: 20px;
    font-weight: 600;
}

.author-album-text-block span {
    font-size: 15px;
    display: block;
    color: white;
    text-align: center;
    font-weight: 500;
}

/* index */

.index-big-title {
    background: var(--gradient, linear-gradient(90deg, #F48A6E 0%, #EA5369 60.05%, #F234F5 120.11%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-weight: 700;
}

.bg-index {
    background-image: url(/img/back-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg-index-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 86px);
}

.gallery-cell {
    width: 400px;
    height: 400px;
    margin-right: 45px;
    padding: 4px;
    position: relative;
}

.gallery-cell:hover {
    background: linear-gradient(90deg, #f48a6e 0%, #ea5369 50%, #f234f5 100%);
    transform: scale(1);
}

.gallery-cell img {
    width: 100%;
    height: 100%;
}

.flickity-button {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.flickity-button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.new-index-title {
    color: white;
    font-size: 40px;
    margin: 40px auto;
    font-weight: 700;
    text-align: center;
}

.flickity-button-icon {
    fill: #F4452E;
}

.flickity-prev-next-button {
    width: 80px;
    height: 80px;
}

.gallery-cell-text-block {
    position: absolute;
    width: calc(100% - 8px);
    height: 20%;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    margin-bottom: 4px;
}

.gallery-cell-text-block p {
    color: white;
    text-align: center;
    margin: 12px 0 5px 0;
    font-size: 20px;
    font-weight: 600;
}

.gallery-cell-text-block span {
    font-size: 15px;
    display: block;
    color: white;
    text-align: center;
    font-weight: 500;
}

/* end index */

/* index */

.index-big-title {
    background: linear-gradient(90deg, #F48A6E 0%, #EA5369 50%, #F234F5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-weight: 700;
}

.bg-index {
    background-image: url(/img/back-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg-index-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 86px);
}

.gallery-cell {
    width: 400px;
    height: 400px;
    margin-right: 45px;
    padding: 4px;
    position: relative;
}

.gallery-cell:hover {
    background: linear-gradient(90deg, #f48a6e 0%, #ea5369 50%, #f234f5 100%);
}

.gallery-cell img {
    width: 100%;
    height: 100%;
}

.flickity-button {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.flickity-button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.new-index-title {
    color: white;
    font-size: 40px;
    margin: 40px auto;
    font-weight: 700;
    text-align: center;
}

.new-index-title span {
    background: linear-gradient(90deg, #F48A6E 0%, #EA5369 50%, #F234F5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.flickity-button-icon {
    fill: #F4452E;
}

.flickity-prev-next-button {
    width: 80px;
    height: 80px;
}

.gallery-cell-text-block {
    position: absolute;
    width: calc(100% - 8px);
    height: 20%;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    margin-bottom: 4px;
}

.gallery-cell-text-block p {
    color: white;
    text-align: center;
    margin: 12px 0 5px 0;
    font-size: 20px;
    font-weight: 600;
}

.gallery-cell-text-block span {
    font-size: 15px;
    display: block;
    color: white;
    text-align: center;
    font-weight: 500;
}

.genres-card-index {
    width: 100%;
    height: 130px;
    background-color: #ff0048;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.genres-card-index span {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.col a {
    text-decoration: none;
}

/* end index */
/* Admin pannel */

.menu {
    width: 270px;
    height: 260px;
    border-radius: 15px;
    border: 1px solid var(--gradient, #F48A6E);
}

.authors {
    background: rgb(244, 138, 110);
    background: linear-gradient(90deg, rgba(244, 138, 110, 1) 0%, rgba(234, 83, 105, 1) 42%, rgba(242, 52, 245, 1) 100%);
}

.hr1 {
    height: 1px;
    background: rgb(244, 138, 110);
    background: linear-gradient(90deg, rgba(244, 138, 110, 1) 0%, rgba(234, 83, 105, 1) 42%, rgba(242, 52, 245, 1) 100%);
}

.menu p {
    color: white;
}

.umenu p {
    margin-bottom: 0 !important;
}

.ta {
    width: 77% !important;
}

.tableorders th,
tr,
td {
    border-radius: 4px;
    padding: 6px;
    border: 1px solid var(--gradient, #F48A6E);

}

.accept {
    padding: 3px 30px;
    border-radius: 15px;
    border: 1px solid var(--gradient, #F48A6E);
    background: #0C051E;
}

.deny {
    padding: 3px 30px;
    border-radius: 15px;
    border: 1px solid red;
    background: red;
}

.ordersNew:hover {
    transition: all 1s;
    background: rgb(244, 138, 110);
    background: linear-gradient(90deg, rgba(244, 138, 110, 1) 0%, rgba(234, 83, 105, 1) 42%, rgba(242, 52, 245, 1) 100%);
}

.ordersDeny:hover {
    background: rgb(244, 138, 110);
    background: linear-gradient(90deg, rgba(244, 138, 110, 1) 0%, rgba(234, 83, 105, 1) 42%, rgba(242, 52, 245, 1) 100%);
}

.ordersAccept:hover {
    background: rgb(244, 138, 110);
    background: linear-gradient(90deg, rgba(244, 138, 110, 1) 0%, rgba(234, 83, 105, 1) 42%, rgba(242, 52, 245, 1) 100%);
}

/* endadmin */

/* Отдельная страничка жанра */
.colorHead {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #67182F;
    height: 294px;
}

.colorHead > h1 {
    color: white;
    font-size: 60px;
}

/* страница пользовательского плейлиста */
.section_like {
    background-image: url('/img/like.svg');
    width: 100%;
    height: 390px;
}

.section_like img {
    width: 300px;
    height: 300px;
}

.text_like {
    color: #ffffff;
    margin-top: 150px;
    margin-left: 20px;
}

.text_like span {
    font-size: 24px;
}

.play_click {
    border: 1px solid #ffffff;
    width: 185px;
    background-color: #000;
    height: 55px;
    border-radius: 38px;

}

.play_click p {
    margin-top: 8px;
    font-size: 24px;
}

.button_like {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 38px;
    margin-left: 19px;
    margin-top: 5px;
    color: #ffffff;
    /* margin-top: 15px; */

    border-color: transparent transparent transparent #ffffff;
    transition: 100ms all ease;
    cursor: pointer;


    border-style: solid;
    border-width: 18px 0 20px 30px;

    &.paused {
        border-style: double;
        border-width: 0px 0 0px 30px;
    }

    &:hover {
        border-color: transparent transparent transparent #404040;
    }
}

.button_points_like {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 100%;
}

.add_block {
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;

}

.add_block button {

    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background:
        linear-gradient(#fff, #fff),
        linear-gradient(#fff, #fff),
        #0C051E;
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;

}

.add_block button:active {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background:
        linear-gradient(#000000, #000000),
        linear-gradient(#000000, #000000),
        #f3f3f3;
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
}

.playlistGenre {
    margin: 50px 0 50px 0;
}

/* personal_area */

.personal-area-title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

.persoanl-area-container {
    width: 100%;
    display: flex;
}

.persoanl-area-container-navigation {
    width: 20%;
    margin: 0 auto;
}

.personal-nav-ul {
    padding: 0;
    width: 100%;
}

.p-n-first {
    border-radius: 15px 15px 0 0;
}

.p-n-last {
    border-radius: 0 0 15px 15px;
}


.personal-nav {
    background-color: #0C051E;
    padding: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #F48A6E;
}

.personal-nav:hover {
    background: linear-gradient(90deg, #F48A6E 0%, #EA5369 50%, #F234F5 100%);
    cursor: pointer;
}

.personal-profile {
    width: 78%;
    height: 250px;
    margin: 0 auto;
    background: linear-gradient(90deg, #F48A6E 0%, #EA5369 50%, #F234F5 100%);
    border-radius: 15px 15px 0 0;
}

.bg-personal-area{
    background: url(/img/personal-back.jpg);
    width: 99.5%;
    height: 200px;
    margin: 0 auto;
    display: flex;
}

.personal-info-title{
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
    margin: 0;
}

.bg-personal-area-left-img{
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background: linear-gradient(90deg, #F48A6E 0%, #EA5369 50%, #F234F5 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.2s ease-in-out;
}

.bg-personal-area-left-img img{
    width: 164px;
    height: 164px;
    object-fit: cover;
    border-radius: 100%;
}

.bg-personal-area-center{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.bg-personal-area-center p{
    margin: 0 10px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}

.personal_form_label{
    padding-left: 5px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}

.personal_form_input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: #f48a6e 1px solid;
    background: none;
    color: white;
    padding: 5px 5px 0 5px;
    transition: 0.4s ease-in-out;
}

.personal_form_input:focus{
    border-color: #F234F5;
}

.personal-bottom-area{
    margin-top: 14px;
}

/* Страница плейлиста */
.playlistGeneral {
    margin-top: 20px;

}

.playlistText p {
    color: white;
}

.playlistText {
    margin-left: 20px;
    color: white;
}

.playlistHead {
    display: flex;
    align-items: center;
}