* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none !important;
    color: white !important;
}

body {
    background-color: #0C051E;
}

.authorization {
    color: #ffffff;
    font-weight: 600
}

.authorization form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.authorization p {
    background: linear-gradient(90deg, #F48A6E 0%, #EA5369 50.05%, #F234F5 90.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    font-weight: 800;
}

.authorization1 label {
    align-items: left;
}

.modal-content {
    background: #0C051E;
}

.modal {
    --bs-modal-width: 900px;
}

.form-text {
    color: white;
    background: #0C051E;
    border: none;
    border-bottom: 1px solid var(--gradient, #F48A6E);
    width: 50%;
}

.button-form {
    padding: 5px 57px 5px 57px;
    border-radius: 27px;
    border: 2px solid var(--gradient, #F48A6E);
    color: #ffffff;
    background: #0C051E;
}

nav {
    font-weight: 800;
}

.navbar-brand {
    flex-grow: 1;
}

.collapse {
    flex-grow: 1;
}

.icon-excel {
    background-image: url('/img/search.svg');
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
}

.icon-excel1 {
    background-image: url('/img/user.svg');
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
}

footer {
    margin-top: 30px;
    background-color: #000;
    padding: 20px 60px;
    font-weight: 800;
}

.footer-ul {
    align-items: center;
    display: flex;
    gap: 20px;
}
/* Стили страницы автора */
.section_author {
    background-image: url('/img/man-light-dark-concert-singer-darkness-61422-pxhere 1.svg');
    width: 100%;
    height: 390px;
}

.cont-1 {
    display: flex;
    height: 390px;
    align-items: flex-end;
}

.name_author {
    width: 266px;
    height: 250px;
    background-color: #0C051E ;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
   
}

.name_author img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.name_author p {
    margin: 0 auto;
    font-size: 15px;
}

section {
    background-color: #0C051E;
}
.releases {
  padding-top: 40px;
  padding-bottom: 40px;
}

.releases h2 {
    color: #ffffff;
}

.releases hr {
    color: #ffffff;
    background-color: #ffffff;
    height: 3px;
    opacity: 1;
}

.releases_track {
    height: 100%;
}

.track {
   width: 100%;
    height: 85px;
    background-color: #000;
    border-radius: 20px;
    border: 4px solid #F48A6E;
    color: #ffffff;
    gap: 500px;
}
.text_track {
    margin-left: 20px;
}
.text_track img {
    width: 58px;
    height: 58px;
}

.button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 38px;
    margin-left: 19px;
    margin-top: 15px;
  
    border-color: transparent transparent transparent #ffffff;
    transition: 100ms all ease;
    cursor: pointer;
  
 
    border-style: solid;
    border-width: 18px 0 20px  30px;
  
    &.paused {
      border-style: double;
      border-width: 0px 0 0px 30px;
    }
  
    &:hover {
      border-color: transparent transparent transparent #404040;
    }
  }

  .button_border {
    width: 70px;
    height: 70px;
 
    border-radius: 100%;
    border:2px solid #ffffff
  }

  .button_points {
    background-color: #000000;
    color: #ffffff;
    border: none;
  }

/* index */

.index-big-title {
    background: var(--gradient, linear-gradient(90deg, #F48A6E 0%, #EA5369 60.05%, #F234F5 120.11%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-weight: 700;
}

.bg-index {
    background-image: url(/img/back-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg-index-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 86px);
}

.gallery-cell {
    width: 400px;
    height: 400px;
    margin-right: 45px;
    padding: 4px;
    position: relative;
}

.gallery-cell:hover {
    background: linear-gradient(90deg, #f48a6e 0%, #ea5369 50%, #f234f5 100%);
    transform: scale(1);
}

.gallery-cell img {
    width: 100%;
    height: 100%;
}

.flickity-button {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.flickity-button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.new-index-title {
    color: white;
    font-size: 40px;
    margin: 40px auto;
    font-weight: 700;
    text-align: center;
}

.flickity-button-icon {
    fill: #F4452E;
}

.flickity-prev-next-button {
    width: 80px;
    height: 80px;
}

.gallery-cell-text-block {
    position: absolute;
    width: calc(100% - 8px);
    height: 20%;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    margin-bottom: 4px;
}

.gallery-cell-text-block p {
    color: white;
    text-align: center;
    margin: 12px 0 5px 0;
    font-size: 20px;
    font-weight: 600;
}

.gallery-cell-text-block span {
    font-size: 15px;
    display: block;
    color: white;
    text-align: center;
    font-weight: 500;
}

/* end index */

/* index */

.index-big-title {
    background: linear-gradient(90deg, #F48A6E 0%, #EA5369 60.05%, #F234F5 120.11%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-weight: 700;
}

.bg-index {
    background-image: url(/img/back-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bg-index-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 86px);
}

.gallery-cell {
    width: 400px;
    height: 400px;
    margin-right: 45px;
    padding: 4px;
    position: relative;
}

.gallery-cell:hover {
    background: linear-gradient(90deg, #f48a6e 0%, #ea5369 50%, #f234f5 100%);
}

.gallery-cell img {
    width: 100%;
    height: 100%;
}

.flickity-button {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.flickity-button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.new-index-title {
    color: white;
    font-size: 40px;
    margin: 40px auto;
    font-weight: 700;
    text-align: center;
}

.new-index-title span {
    background: linear-gradient(90deg, #F48A6E 0%, #EA5369 60.05%, #F234F5 120.11%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.flickity-button-icon {
    fill: #F4452E;
}

.flickity-prev-next-button {
    width: 80px;
    height: 80px;
}

.gallery-cell-text-block {
    position: absolute;
    width: calc(100% - 8px);
    height: 20%;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    margin-bottom: 4px;
}

.gallery-cell-text-block p {
    color: white;
    text-align: center;
    margin: 12px 0 5px 0;
    font-size: 20px;
    font-weight: 600;
}

.gallery-cell-text-block span {
    font-size: 15px;
    display: block;
    color: white;
    text-align: center;
    font-weight: 500;
}

.genres-card-index {
    width: 100%;
    height: 130px;
    background-color: #ff0048;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.genres-card-index span {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.col a {
    text-decoration: none;
}

/* end index */
/* Admin pannel */

.menu {
    width: 270px;
    height: 278px;
    border-radius: 15px;
    border: 1px solid var(--gradient, #F48A6E);
}

.authors {
    background: rgb(244, 138, 110);
    background: linear-gradient(90deg, rgba(244, 138, 110, 1) 0%, rgba(234, 83, 105, 1) 42%, rgba(242, 52, 245, 1) 100%);
}

.hr1 {
    height: 1px;
    background: rgb(244, 138, 110);
    background: linear-gradient(90deg, rgba(244, 138, 110, 1) 0%, rgba(234, 83, 105, 1) 42%, rgba(242, 52, 245, 1) 100%);
}

.menu p {
    color: white;
}

.table {
    max-width: 77% !important;
}

/* Отдельная страничка жанра */
.colorHead {
    width: 100%;
    background-color: #67182F;
    height: 294px;
}